* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all .5s ease;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightslategray;
}
h1  {
    margin-top:10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}
main {
    height: 800px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
h3 {
    margin: 23px;
}
.high-lable, .low-lable {
    display: flex;
    width: 100%;
    justify-content: center;
}
.high-lable input:first-child {
    width: 80%;
    height: 45px;
    border: 1px #989898 solid;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.high-lable input:last-child{
    width: 80px;
    height: 45px;
    background-color: white;
    border:  1px #989898 solid;
    border-left: none;
    font-size: 38px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
input[type="text"]{
    padding: 12px;
}

.high-lable input[placeholder] {
    font-size: 18px;
}

.high-text, .low-text {
    width: 460px;
    border: 1px #989898 solid;
    border-radius: 5px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;

}

.high-text p {
    width: 370px;
    font-size: 18px;
    margin: 12px 12px 12px 0;

}

.low-text p {
    width: 370px;
    font-size: 18px;
    margin: 12px 12px 12px 0;
}

input[type='checkbox'] {
    margin: 12px;
    display:inline-block;
    width:24px;
    height:24px;
    border-radius: 50px;
}

button {
    width: 20px;
    height: 20px;
    margin: 13px 12px 12px 0;
}

.low-lable input:first-child{
    width: 83%;
    height: 45px;
    border: 1px #989898 solid;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.low-lable input:last-child{
    width: 50px;
    height: 45px;
    background-color: white;
    border:  1px #989898 solid;
    border-left: none;
    font-size: 38px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.low-lable input[placeholder] {
    font-size: 18px;
}
.done-high-divs, .done-high-divs, .high-divs, .low-divs {
    display: flex;
    flex-direction: column;
}
